body {
    background-color: #f7f7f7;
    font-family: verdana;
}
#title, .subtitle, .post_title {
    color: #B22222;
    font-family: helvetica, arial;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 10px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15 px;

}

.post {
    background: #fff;
    padding: 15px;
    border-top:  solid #B22222;
    border: 1,5px dotted #F8F8FF;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

a { 
    text-decoration: underline;
    color: #B22222;
}

.post_image {
    margim-bottom: 15px;
}

.photo {
    border-radius: 50px;
    border: 2px solid #B22222;
}

.contact_list { 
    list-style-type: none;
    padding-left: 15px;
}